body[data-route^="List/FAQ Acticles/"],
body[data-route^="Form/FAQ Acticles/"] {


    /* ## LOCAL STYLES ## */


    /* ## FAQ LIST PAGE ## */


    // Save button
    .btn[data-label="Save"] {
        padding: 15px 40px;
        height: fit-content;
        border-radius: 30px;
        font-size: 18px;
    }


    // List of entries
    .list-row-container .list-row {
        padding: 27px 40px 26px;
    }

    // Heading row
    header.list-row-head {
        padding: 10px 40px !important;
    }
    
    // Form above the list
    .page-form {
        margin: 18px 15px 20px;
        padding: 14px 40px;
        border-radius: 10px;

        .form-group {
            margin: 0 !important;
            padding: 0 !important;
        }

        .filter-section {
            display: none;
        }
    }

    // Checkbox for selecting rows
    .select-like {
        display: none !important;
    }


    /* ## FAQ FORM PAGE ## */

    // Form tab list
    .form-tabs-list {
        opacity: 0.5;
        margin: 20px;
        border-radius: 10px;
    }

    // Label for QL editor
    .form-group:has(.ql-container) .clearfix {
        display: none !important;
    }

    // Container for QL editor
    .ql-container {
        background: transparent !important;
        border: none !important;
        position: relative;

        &::before {
            content: "Content";
            position: absolute;
            z-index: 10;
            left: 16px;
            top: 0px;
            height: 1px;
            background: white;
            width: fit-content !important;
            padding: 0 4px;
            display: flex;
            align-items: center;
            color: var(--custom-gray);
            transition: color 0.1s ease;
        }

        &:has(.ql-editor:focus)::before {
            color: var(--deep-royal-blue);
        }
    }

    .ql-editor {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        border-radius: 10px;
        line-height: 24px;
        color: var(--black) !important;
        padding: 16px !important;
        
        border: 1px solid var(--light-gray-silver);
        background: var(--white) !important;
        transition: border 0.1s ease !important;

        &:hover {
            border: 1px solid var(--pale-blue);
        }

        &:focus {
            border: 1px solid var(--deep-royal-blue);
        }
    }

    // Toolbar for textarea
    .ql-toolbar.ql-snow {
        background: var(--white);
        padding: 10px 20px;
        border-radius: 50px;
        margin-bottom: 17px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .ql-formats {
            margin-bottom: 0 !important;
        }

        .ql-formats:has(
            .ql-blockquote,
            .ql-code-block,
            .ql-table
        ) {
            display: none !important;
        }
    }
}