@import './appointment.scss';
@import './faq.scss';

:root {
    --col-md-6-gap: 40px;

    @media (min-width: 768px) {
        --col-md-6-gap: 60px;
    }

    @media (min-width: 992px) {
        --col-md-6-gap: 80px;
    }
}

body[data-route^="List/FAQ Acticles/"], body[data-route^="Form/FAQ Acticles/"],
body[data-route^="List/Appointment/"], body[data-route^="Form/Appointment/"] {
    
    
    /* ## LOCAL STYLES ## */
    

    background:
        radial-gradient(circle at 160px 857px, var(--gradient-color-1), var(--gradient-color-2) calc(528px * 0.6)),
        radial-gradient(circle at 1510px 110px, var(--gradient-color-1), var(--gradient-color-2) calc(632px * 0.6)),
        var(--light-periwinkle) !important;

    .btn.btn-primary {
        background-color: var(--deep-royal-blue);
    }

    // Transparent background for containers
    .page-head, .page-container, .navbar, .form-page,
    .sticky-top, .list-row-container {
        background-color: transparent !important;
        border: none !important;
        position: static !important;
    }

    // Page head (with title and actions)
    .page-head-content {
        height: fit-content !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    // Hidding pagination, sidebar and filters
    .layout-side-section.right,
    .list-paging-area.level,
    .page-actions > .custom-actions,
    .page-actions > .filters.flex {
        display: none !important;
    }


    /* ## LIST PAGE ## */


    // Primary action button
    button.primary-action[data-label^="Add"] {
        padding: 15px 50px !important;
        font-size: 18px;
        border-radius: 30px;
        font-weight: 500;
        height: fit-content !important;
    }

    // Title text in the page head
    .title-text {
        font-size: 36px !important;
        font-weight: 700 !important;
    }

    // List of entries
    .list-row-container {
        .list-row {
            background-color: var(--white);
            height: fit-content !important;
        }

        *:not(span) {
            font-weight: 600 !important;
            color: var(--black) !important;
            font-size: 18px !important;
        }

        .list-subject {
            flex: unset !important;
        }
    }

    // Heading row
    header.list-row-head {
        box-sizing: border-box;

        & > div {
            height: 25px;
        }

        * {
            font-size: 18px !important;
            font-weight: 700 !important;
            color: var(--custom-gray) !important;
        }

        .checkbox-actions .list-header-meta {
            margin-left: 20px;
        }

        .select-like {
            padding: 0;
        }

        .list-subject {
            margin: 0 20px 0 0;
            flex: unset !important;
        }
    }

    // List row with sort icon
    .list-row-col:has(>[data-sort-by]) {
        display: flex;
        align-items: center;
        gap: 12px;

        .sort-icon {
            width: 20px;
            aspect-ratio: 1 / 1;
            fill: transparent;
        }
    }


    /* ## FORM PAGE ## */
    
    // Tab content
    .tab-pane {
        background: #fff;
        margin: 20px;
        border-radius: 10px;
        padding: 40px;

        flex-direction: column;
        gap: 40px;

        &.active {
            display: flex !important;
        }

        .form-dashboard {
            display: none;
        }

        .form-section .section-head {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px !important;
        }
    }
    
    // Form inside tab pane
    .form-section {
        border: none !important;
        padding: 0 !important;

        & > * {
            margin: 0 !important;
        }
    }

    // Last form group inside a column
    .frappe-control:last-child .form-group {
        margin-bottom: 0 !important;
    }

    .form-section .section-body {
        gap: 20px var(--col-md-6-gap);
    }

    @media (min-width: 576px) {
        // Form columns
        .form-section .section-body:has(> .col-sm-6:nth-child(2)) > .col-sm-6 {
            flex: 0 0 calc(50% - var(--col-md-6-gap) / 2);
            max-width: calc(50% - var(--col-md-6-gap) / 2);
        }
    }

    // From group with label and input
    .form-group.horizontal,
    .form-group:has(textarea) {
        display: block !important;
        position: relative;

        .clearfix {
            position: absolute;
            z-index: 10;
            left: 16px;
            top: 7px;
            height: 1px;
            background: white;
            width: fit-content !important;
            padding: 0 4px;
            display: flex;
            align-items: center;

            .fa-globe {
                display: none !important;
            }
        }

        label {
            margin: 0 !important;
            padding: 0 !important;
            line-height: 16px;
            font-size: 12px;
            transition: color 0.1s ease;
        }

        .control-input-wrapper {
            padding-top: 7px;
            width: 100% !important;
        }

        &:has(input[type="text"]:focus, textarea:focus, select:focus) label {
            color: var(--deep-royal-blue) !important;
        }
    }

    // From group with textarea label
    .form-group:has(textarea) .clearfix {
        height: fit-content;
        padding: 2px 4px !important;
        border-radius: 6px;
        top: -2px !important;
    }

    // Textarea and QL editor
    textarea, .ql-editor {
        resize: none !important;
    }

    // Input fields except for search bar
    input[type="text"]:not(#navbar-search),
    select.form-control,
    select.form-control.bold,
    .like-disabled-input,
    textarea {
        border-radius: 10px !important;
        font-weight: 400 !important;
        line-height: 24px;
        color: var(--black) !important;
        padding: 16px !important;
        border: 1px solid var(--light-gray-silver);
    }

    // Input fields except for search bar and textarea
    input[type="text"]:not(#navbar-search),
    select.form-control,
    select.form-control.bold,
    .like-disabled-input {
        height: unset !important;
    }

    // Input fields except for search bar and disabled ones
    input[type="text"]:not(#navbar-search),
    select.form-control,
    select.form-control.bold,
    textarea {
        background: var(--white) !important;
        transition: border 0.1s ease !important;

        &:hover {
            border: 1px solid var(--pale-blue);
        }

        &:focus {
            border: 1px solid var(--deep-royal-blue);
            box-shadow: none;
        }
    }

    // Select inputs
    select {
        cursor: pointer;
    }

    // Help box
    .help-box {
        display: none !important;
    }

    // Footer section
    div:has(> .form-footer) {
        display: none;
    }

    // Footer itself
    .form-footer {
        display: none !important;
    }
}
